@import '@styles/theme.scss';

.comp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94px;
  border: 0;
  border-radius: 0;
  background: #fff;

  &--primary {
    background: $primary-color;
  }

  &--plain {
    border: 1px solid $primary-color;
    background-color: transparent;
  }

  &--disabled {
    background: $disabled-color;
  }

  &__txt {
    font-size: 28px;
    color: $text-color;

    &--primary {
      color: #fff;
    }

    &--plain {
      color: $primary-color;
    }

    &--disabled {
      color: #fff;
    }
  }
}
