@import '@styles/theme.scss';

.counter {
  display: flex;
  flex-direction: row;
  height: 52px;

  &-minus, &-plus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 100%;
    border: 1px solid #7f7f7f;
    @include hairline(border-width);
    border-left-width: 0;
    border-radius: 0 $border-radius $border-radius 0;

    &__img {
      width: 30px;
      height: 30px;
    }
  }

  &-minus {
    @include hairline(border-left-width);
    border-right-width: 0;
    border-radius: $border-radius 0 0 $border-radius;

    &--disabled {
      border-color: #ccc;
    }
  }

  &-num {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 -1px;
    width: 76px;
    height: 100%;
    border: 1px solid #7f7f7f;    

    &__txt {
      line-height: 24px;
      font-size: 24px;
      color: $text-color;
    }
  }
}
